*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    list-style: none;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

    nav {
    flex: 1;
    padding-left: 60px;
    
    }
    
nav ul li {
display: inline-block;
list-style: none;
margin: 0 20px;
}

nav ul li a {
text-decoration: none;
}

.content {
margin-left: 110px;
margin-top: 40px;
}

.content p {
font-size: 15px;
text-align:justify;
}

.btn {
display: inline-block;
background: rgb(61, 61, 136);
border-radius: 6px;
padding: 10px 20px;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
}

.txt {
color: #fff;
}

h1 {
    font-weight: bold;
}

em {
    color: blue;
}

.page-header {
text-align: center;
line-height: 2;
}

video {
    align-items: center;
    width: 560px;
    height: 315px;
}

footer {
    background-color: blue;
}